body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
a{
  color: #11999E;
}
h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 5.62rem;
  font-family: 'Sacramento', cursive;
}
h2{
  padding-top: 25px;
  padding-bottom: 20px;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 auto;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-style: none none dotted;
  border-width: 7px;
  width: 5%;
  border-color: #EAF6F6;
  margin: 100px auto;
}
p{
  line-height: 2;
}
.top{
  background-color: #E4F9F6;
  position: relative;
  padding-top: 100px;
}
.middle{
  padding-top: 100px;
  position: relative;
  padding-bottom: 150px;
}
.bottom{
  height: 200px;
  background-color: #66BFBF;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position:absolute;
  left:300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  top: 40px;
  right: 350px;
}
.python{
  width: 25%;
  height: 50%;
  margin-right: 30px;
  float: left;
}
.java{
  width: 25%;
  margin-left: 30px;
  float: right;
}
.btn{
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color: white;
  color: #00adb5;
  border-style: solid;
  border-color: #00adb5;
  text-decoration: none;
  position: absolute;
  left: 680px;
  bottom: 50px;
  border-radius: 8px;
}
.btn:hover{
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color: #00adb5;
  color: white ;
  border: none;
  text-decoration: none;
  position: absolute;
  left: 680px;
  bottom: 50px;
  border-radius: 8px;
}
.intro{
  width: 40%;
  position: relative;
  left: 450px;

}
.footer-link{
  padding-right: 30px;
  position: relative;
  top: 50px;
  text-decoration: none;
  color: #11999E;
}
.footer-link:hover{
  padding-right: 30px;
  position: relative;
  top: 50px;
  text-decoration: none;
  color: #EAF6F6;
}
.foot{
  position: relative;
  top: 100px;
  color: #EAF6F6;
  font-size: 0.75rem;
}
